body{
    font-family: Arial, sans-serif;
}

form{
    width: 300px;
    margin: 50px auto;
}

label{
    display: block;
    margin-top: 10px;
}

input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button{
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: green;
    color: white;
    border: none;
}